
body{
	background-color: rgb(249 206 137 / 49%);
    font-family: Arial, serif;
    font-size: 15px;
    color: rgb(150 77 12);
    line-height: 1.6;
    letter-spacing: 2px;
    font-weight: 300;
    text-align: center;
}



.container {
	width: 1000px;
	margin: 50px auto;

}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}

@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}


h1{
	color: rgb(98,42,26);
	font-size: 25px;
	
}

h2{ 
	color: rgb(118,62,46);
	font-weight: 600;
	font-family: Arial, serif;
 }
  

 p{
 	text-justify:center;
 	text-align: center;
 }

img{
	width: 500px

}



.photo{
	width: 300px;
}

.dessin{
	width: 400px;
	height: 550px;
}
.papa{
	height: 545px;
}

.peinture{
	width: 400px;
}

#pirogue{
	width: 500px
}

.boutton{
	padding: 15px 20px;
}

a{
	text-decoration: none;
	color:rgb(98,42,26);
}

a:hover {
	color: pink;

}

